.main-container {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: auto 1fr auto;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

.main-layout {
    display: grid;
    grid-template-columns: 0.7rem 1fr 0.7rem;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    // @include for-narrow-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $mobile-breakpoint) minmax(1rem, 1fr);
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $narrow-breakpoint) minmax(1rem, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $normal-breakpoint) minmax(1rem, 1fr);
    // }
}

.homepage-header.main-layout,
.homepage-header span.main-layout {

    // @include for-narrow-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $mobile-breakpoint + 140px) minmax(1rem, 1fr);
    // }

    // @include for-normal-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $narrow-breakpoint + 140px) minmax(1rem, 1fr);
    // }

    // @include for-wide-layout {
    //     grid-template-columns:
    //         minmax(1rem, 1fr) minmax(auto, $normal-breakpoint + 140px) minmax(1rem, 1fr);
    // }
}
