

@font-face {
    font-family: karla;
    src: url('../../fonts/Karla/Karla-Regular.ttf');
}

@font-face {
    font-family: rubik;
    src: url('../../fonts/Rubik/Rubik-Light.ttf');
}

@font-face {
    font-family: lato;
    src: url('../../fonts/lato/Lato-Light.ttf');
}